@model IEnumerable<PracticaWeb3junio8.Models.Animal>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreEspecie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PesoPromedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EdadPromedio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTipoAnimalNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEspecie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PesoPromedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EdadPromedio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTipoAnimalNavigation.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAnimal">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAnimal">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAnimal">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
